In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv("D:\AILab\Result.csv")
df
df['Result'].unique
pd.get_dummies(df['Result'])

   264  273  274  276  285
0    0    0    1    0    0
1    1    0    0    0    0
2    0    1    0    0    0
3    0    0    0    1    0
4    0    0    0    0    1